<article>
	<% if(locals.archive) { %>
		<h1><a href="/<%= page.path %>"><%= page.title %></a></h1>
	<% } else { %>
		<h1><%= page.title %></h1>
	<% } %>
	<div class="article__infos">
		<span class="article__date"><%- page.date.format(config.date_format) %></span><br />
		<% if (page.categories && page.categories.length){ %>
			<span class="article__category">
				<%- list_categories(page.categories, {
				  show_count: false,
				  class: 'article-category',
				  style: 'none',
				  separator: ' > '
				}) %>
			</span><br />
		<% } %>
		<% if (page.tags && page.tags.length){ %>
			<span class="article__tags">
			  	<%- list_tags(page.tags, {
				    show_count: false,
				    class: 'article__tag',
					style: 'none',
					separator: ' '
			  	}) %>
			</span>
		<% } %>
	</div>

	<% if (page.photos && page.photos.length){ %>
	<div class="article-gallery">
	  <div class="article-gallery-photos">
	    <% page.photos.forEach(function(photo, i){ %>
	      <a class="article-gallery-img fancybox" href="<%- url_for(photo) %>" rel="gallery_<%= page._id %>">
	        <img src="<%- url_for(photo) %>" itemprop="image">
	      </a>
	    <% }) %>
	  </div>
	</div>
	<% } %>

	<% if(page.excerpt !== '' && locals.archive) { %>
		<%- page.excerpt %>
		<p><a class="article__read-more-link" href="/<%= page.path %>"><%- theme.readMore %></a></p>
	<% } else { %>
		<%- page.content %>
	<% } %>

	<% if(!locals.archive) { %>
		<span class="different-posts"><a href="<%- url_for(page.path) %>" onclick="window.history.go(-1); return false;">⬅️ Go back </a></span>

	<% } %>

	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'https-codeelegant-github-io'; // required: replace example with your forum shortname
//		var disqus_developer = 1; // Comment out when the site is live
          var disqus_identifier = "{{ page.url }}";

		/* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
               dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
               (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

</article>
